@use "../abstrasts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(95%) sepia(97%) saturate(14%) hue-rotate(213deg) brightness(104%)
        contrast(104%);

    --body-bg: #292e39;
    --header-bg-color: #171c28;
    --footer-text-color: #9e9da6;
    --footer-bg-color: var(--header-bg-color);

    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate-color: #545458;

    @include abstrasts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    // Header / action dropdown
    --header-act-dropdown-bg: #2f3441;
    --header-act-dropdown-shadow: rgba(23, 28, 40, 0.4);
    --header-act-dropdown-border-color: #171c28;

    // Dropdown
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(18%) sepia(33%) saturate(293%) hue-rotate(184deg)
        brightness(98%) contrast(96%);

    --top-menu-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(100%) sepia(14%) saturate(1806%) hue-rotate(181deg)
        brightness(101%) contrast(96%);

    // Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow: rgba(23, 28, 40, 0.4);

    // Category item
    --cate-item-bg: #171c28;
    --cate-item-thumb-bg: #292e39;
    --cate-item-title-color: #fff;

    // Button
    --filter-btn-color: #fff;
    --filter-btn-bg: #171c28;

    // Product
    --product-card-bg: #171c28;
    --product-card-shadow: rgba(0, 0, 0, 0.2);

    // Filter form
    --form-tag-bg: var(--dropdown-bg-color);
    --filter-form-shadow: rgba(0, 0, 0, 0.4);
    --form-tag-bg: #171c28;
    --filter-form-arrow: var(--dropdown-arrow-color);

    // Auth
    --auth-intro-bg: var(--header-bg-color);
    --auth-content-bg: var(--body-bg);
    --auth-intro-text-color: #b9babe;

    // Form
    --form-border-color: #b9babe;
    --form-text-color: var(--auth-intro-text-color);
    --form-select-dialog-shadow: rgba($color: #fff, $alpha: 0.15);
    --form-select-dialog-bg: #2f3441;
    --form-option-hover-bg: #292e39;

    // Product detail
    --product-detail-bg: #292e39;
    --product-detail-info-bg: var(--header-bg-color);
    --product-detail-info-content-bg: transparent;
    --product-detail-tag-bg: var(--body-bg);

    @include abstrasts.screen(md) {
        --product-detail-bg: transparent;
        --product-detail-info-content-bg: var(--header-bg-color);
        --product-detail-info-bg: transparent;
    }

    --prod-info-heading-color: var(--form-border-color);
    --prod-prop-title-color: #eee;
    --prod-info-price-color: var(--prod-prop-title-color);
    --prod-info-total-price-color: var(--prod-info-price-color);

    // Breadcrumbs
    --breadcrumbs-bg: var(--header-bg-color);
    --breadcrumbs-shadow: rgba(23, 28, 40, 0.2);

    @include abstrasts.screen(md) {
        --breadcrumbs-bg: var(--header-bg-color);
    }

    // Search bar
    --search-bar-bg: var(--header-bg-color);
    --search-bar-input-color: #b9babe;

    // Review card
    --review-card-bg: var(--header-bg-color);

    // Text content
    --text-content-hr-bg: #3e4043;

    // Checkout
    --checkout-breadcrumbs-bg: #171c28;
    --checkout-cart-info-bg: #171c28;
    --checkout-cart-info-shadow: rgba(23, 28, 40, 0.2);
    --checkout-border-color: #292e39;
    --checkout-gift-shadow: rgba(23, 28, 40, 0.2);
    --checkout-payment-item-bg: #292e39;

    // Dialog
    --dialog-bg: #2f3441;
    --dialog-shadow: rgba(23, 28, 40, 0.4);

    // Profile
    --profile-sidebar-bg: #171c28;
    --profile-sidebar-shadow: rgba(23, 28, 40, 0.2);
    --profile-sidebar-link-hover: #2f3441;

    --new-payment-hover: #fff;

    // Account info
    --account-info-bg: #292e39;
    --account-info-icon-bg: #171c28;

    --favourite-separate-bg: #292e39;
}
