@use "../abstrasts";

.favourite-item {
    display: flex;
    align-items: center;
    gap: 10px;

    &__thumb {
        width: 110px;

        @include abstrasts.screen(lg) {
            width: 80px;
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 10px;

        @include abstrasts.screen(md) {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }
    }

    &__price {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }

    &__separate {
        margin: 20px 0;
        height: 1px;
        background: var(--favourite-separate-bg);

        @include abstrasts.screen(md) {
            margin: 16px 0;
        }
    }
}
